<div class="container mt-2">
  <h1>{{ title }}</h1>

  <div class="row">
    <div class="form-group col-6">
      <label for="idLatitud">Latitud</label>
      <input type="text" #lati class="form-control" id="idLatitud" placeholder="Ingresa coordenada">
    </div>
    <div class="form-group col-6">
      <label for="idLongitud">Longitud</label>
      <input type="text" #lngi class="form-control" id="idLongitud" placeholder="Ingresa coordenada">
    </div>
  </div>

  <button (click)="getCoordenadas(lati.value, lngi.value)" class="btn btn-primary mt-2">Buscar</button>
</div>

<br>


<div class="container">
  <div class="row">
    <div class="col-9">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoon">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
    <div class="col-3">
      <div class="card" style="width: 18rem;" *ngIf="api_nombres.length != 0; else noCargado">
        <div class="card-header">
          Resultados de la API
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let coord of api_nombres; let i = index"> {{ api_nombres[i] }} : Lat =
            {{api_latitudes[i]}} Long: {{api_longitudes[i]}} </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #noCargado>
  <h3>Cargando...</h3>
</ng-template>